<h1>Category: <%= @category.title %></h1>

<h3>Jobs:</h3>

<ul>
  <% @jobs.each do |job| %>
    <li>
      <%= link_to job.title, company_job_path(job.company, job) %>
    </li>
  <% end %>
</ul>

<%= link_to "Back to All Categories", categories_path %>
